<div class="col-xs-10 no-float center-block">
  <%= form_for @user do |f| %>
    <% if !@user.errors[:first_name].empty? %>
      <div class="alert alert-danger" role="alert">
        <p>
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <%= error_check(:first_name) %>
        </p>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name, 'First Name' %> <span class="required">*</span>
      <%= f.text_field :first_name, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <% if !@user.errors[:email].empty? %>
      <div class="alert alert-danger" role="alert">
        <p>
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <%= error_check(:email) %>
        </p>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %> <span class="required">*</span>
      <%= f.text_field :email, class: 'form-control', required: true %>
    </div>

    <% if !@user.errors[:password].empty? %>
      <div class="alert alert-danger" role="alert">
        <p>
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <%= error_check(:password) %>
        </p>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <span class="required">*</span>
      <%= f.password_field :password, class: 'form-control', required: true %>
    </div>

    <% if !@user.errors[:password_confirmation].empty? %>
      <div class="alert alert-danger" role="alert">
        <p>
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <%= error_check(:password_confirmation) %>
        </p>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <span class="required">*</span>
      <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
    </div>

    <% unless signed_in? %>
      <%= f.submit "Register", class: 'btn btn-primary center-block' %>
    <% else %>
      <%= f.submit "Update", class: 'btn btn-primary center-block' %>
    <% end %>
  <% end %>
</div>
