<div class="col-sm-7 center-block no-float">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" id="account">
      <%= link_to "Settings" %>
    </li>
    <li role="presentation" id="invites">
      <%= link_to "Invites" %>
    </li>
    <li role="presentation" id="oauth-links">
      <%= link_to "Account Links" %>
    </li>
  </ul>

  <div class="settings">
    <div class="form-user">
      <!-- NOTE: javascript don't like partials… -->
      <div class="col-xs-10 no-float center-block">
        <%= form_for @user do |f| %>
          <% if !@user.errors[:first_name].empty? %>
            <div class="alert alert-danger" role="alert">
              <p>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <%= error_check(:first_name) %>
              </p>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :first_name, 'First Name' %> <span class="required">*</span>
            <%= f.text_field :first_name, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= f.label :last_name, 'Last Name' %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>

          <% if !@user.errors[:email].empty? %>
            <div class="alert alert-danger" role="alert">
              <p>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <%= error_check(:email) %>
              </p>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :email %> <span class="required">*</span>
            <%= f.text_field :email, class: 'form-control', required: true %>
          </div>

          <% if !@user.errors[:password].empty? %>
            <div class="alert alert-danger" role="alert">
              <p>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <%= error_check(:password) %>
              </p>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <span class="required">*</span>
            <%= f.password_field :password, class: 'form-control', required: true %>
          </div>

          <% if !@user.errors[:password_confirmation].empty? %>
            <div class="alert alert-danger" role="alert">
              <p>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <%= error_check(:password_confirmation) %>
              </p>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm Password" %>
            <span class="required">*</span>
            <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
          </div>

          <% unless signed_in? %>
            <%= f.submit "Register", class: 'btn btn-primary center-block' %>
          <% else %>
            <%= f.submit "Update", class: 'btn btn-primary center-block' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="account-links">
      <span class="icon-facebook"></span>
      <span class="icon-twitter"></span>
      <span class="icon-github"></span>
    </div>

    <!-- user invites -->
    <div class="table-responsive table-invites">
      <table class="table table-hover">
        <tr>
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th colspan="3">
            Invite Status
          </th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td>
              <%= @count %>
            </td>
            <td>
              <%= user.first_name + " " + user.last_name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.invite_status %>
            </td>
            <td>
              <%= button_to "Invite", class: 'btn btn-primary' %>
            </td>
            <td>
              <%= button_to "Reject", class: 'btn btn-danger' %>
            </td>
          </tr>
          <% @count += 1 %>
        <% end %>
      </table>
    </div>

  </div>
</div>
