<div class="col-sm-7 center-block no-float">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" id="account">
      <%= link_to "Account" %>
    </li>
    <li role="presentation" id="invites">
      <%= link_to "Invites" %>
    </li>
    <li role="presentation">
      <%= link_to %>
    </li>
  </ul>

  <div class="settings">
    <div class="form-user">
      <%= render "shared/form_user" %>
    </div>

    <!-- user invites -->
    <div class="table-responsive table-invites">
      <table class="table table-hover">
        <tr>
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th colspan="3">
            Invite Status
          </th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td>
              <%= @count %>
            </td>
            <td>
              <%= user.first_name + " " + user.last_name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.invite_status %>
            </td>
            <td>
              <%= button_to "Invite", class: 'btn btn-primary' %>
            </td>
            <td>
              <%= button_to "Reject", class: 'btn btn-danger' %>
            </td>
          </tr>
          <% @count += 1 %>
        <% end %>
      </table>
    </div>

  </div>
</div>
