<h1 class="text-center">Kitty Laser Bot</h1>

<p class="text-center">
  <strong>New Users!</strong> Access to this site is restricted.<br>Signing up will automatically send a request for access.
</p>


<div class="col-sm-4 center-block no-float" id="login-buttons">
  <!-- oauth buttons -->
  <%= button_tag "Facebook",
      class: 'btn center col-sm-12 btn-oauth', id: 'btn-login-fb' %>
  <br>
  <%= button_tag "Twitter",
      class: 'btn center col-sm-12 btn-oauth', id: 'btn-login-twitter' %>
  <br>
  <%= button_tag "Instagram", auth_path("instagram"), 
      class: 'btn center col-sm-12 btn-oauth', id: 'btn-login-ig' %>

  <!-- register buttons -->
  <div class="signup-btns">
    <%= button_tag "Log In",
        class: 'btn col-sm-5 btn-login', id: 'btn-login' %>

    <%= button_tag "Sign Up",
        class: 'btn col-sm-5 btn-register', id: 'btn-register' %>
  </div>
</div>

<!-- forms -->
<div class="col-sm-4 center-block no-float" id="form-signup">
  <%= form_for(:user, url: new_user_path)  do |f| %>
    <div class="form-group">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"  %>
    </div>

    <%= button_tag "Back", class: 'btn btn-login btn-back-login-btns' %>
    <%= f.submit "Sign Up", class: "btn btn-login" %>
  <% end %>
</div>

<div class="col-sm-4 center-block no-float" id="form-login">
  <%= form_for(:session, url: sessions_path)  do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"  %>
    </div>

    <%= button_tag "Back", class: 'btn btn-login btn-back-login-btns' %>
    <%= f.submit "Log In", class: "btn btn-login" %>
  <% end %>
</div>
