<!-- user management page for admin (me) -->
<!-- button to invite users (ustream) -->
<!-- button to reject users -->
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Relation
      </th>
      <th>
        Email
      </th>
      <th  class="text-center" colspan="3">
        Invite Status
      </th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td>
          <%= @count %>
        </td>
        <td>
          <%= user.first_name + " " + user.last_name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.invite_status %>
        </td>
        <td>
          <%= button_to "Invite", class: 'btn btn-primary' %>
        </td>
        <td>
          <%= button_to "Reject", class: 'btn btn-danger' %>
        </td>
      </tr>
      <% @count += 1 %>
    <% end %>
  </table>
</div>
